*.pyc
__pycache__/
.env

# ignore uploads directory
uploads/

# ignore logs directory
logs/

# ignore virtual environment
venv/
.venv/
# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# vscode settings
.vscode/
# ignore Python bytecode files
*.py[cod]

# excluir checkpoint pckl
*.pckl

# adicionando workspace
menu-mvp.code-workspace

# env
.env